canvas{
  display: inline-block;
  border: 1px solid black;
}

body{
  overflow-y:scroll;

-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}


.demoContainer{
  
  display: inline-grid;
  grid-template-columns: auto auto;
}

.docs{
  display: none;
  
  
  -webkit-user-select: text;  
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}


@media only screen and (min-width: 1000px){
  .main{
    width:80%;
    margin: auto;
  }

}

@media only screen and (max-width: 760px){
  .demoContainer{
    display: block;
    flex-direction: none;
    width: 100%;
  }
  body{
    background-color: #222;
    color: white;
  }
 
  canvas{
    background-color: white;
    
    
  }
}


body{
  font-family: Arial, Helvetica, sans-serif;
}


.textSection{

  width: 100%;
  height: 475px;
  padding: 15px;

  background-color: #222;
  color: white;
  
  
  overflow-y: scroll;
  text-overflow: ellipsis;

  
}

#baconSection{
  height: 275px;
}
#animatedTextSection{
  height: 575px;
}
.fun i{
  font-style: normal;
  background-color: orange;
  padding-left: 3px;
  padding-right: 3px;
}
.docs i{
  font-style: normal;
  background-color: #2196F3;
  padding-left: 3px;
  padding-right: 3px;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}